  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  .base{
      font-size: 0.75rem;
      line-height: 1rem;
  }
  body{
    font-family: 'Cairo', sans-serif;
  }
  .image-grid{
      display: grid;
      grid-template-columns: repeat(3, minmax(min-content, 400px));
  }
  .layout{
    display: grid;
    grid-template-columns:  repeat(5, minmax(min-content, 300px));;
    visibility: hidden;
    width: 90%;
    left: 6%;
    transition: visibility .1s ease-in;
  }
  .layout div:nth-child(1){
    transition-delay: 0s;
  }
  .layout div:nth-child(2){
    transition-delay: 0.02s;
  }
  .layout div:nth-child(3){
    transition-delay: 0.04s;
  }
  .layout div:nth-child(4){
    transition-delay: 0.06s;
  }
  .layout div:nth-child(5){
    transition-delay: 0.08s;
  }
  .world:hover .layout{
    visibility: visible;
  }
  .tips:hover .layout{
    visibility: visible;
  }
  .healthy-foods:hover .layout{
    visibility: visible;
  }
  .hover-img{
    height: 150px;
    width: 250px;
  }
  .layouts{
    display: grid;
    grid-template-columns:  repeat(4, minmax(min-content, 400px));; 
  }
  .div{
    width: 30%;
    float: left;
  }
  .tech-news{
    width: 90%;
    left: 6%;
    transition: visibility .1s ease-in;
    visibility: hidden;
  }
  .technology-news:hover .tech-news{
    visibility: visible;
  }
  .tech-news .video-grid .all:nth-child(1){
    transition-delay: 0s;
  }
  .tech-news .video-grid .all:nth-child(2){
    transition-delay: 0.03s;
  }
  .tech-news .video-grid .all:nth-child(3){
    transition-delay: 0.06s;
  }
  .tech-news .video-grid .all:nth-child(4){
    transition-delay: 0.09s;
  }
  .computing{
    display: none;
  }
  .mobile{
    display: none;
  }
  .electronics{
    display: none;
  }
  /* width */
  .scrollbar::-webkit-scrollbar {
      width: 6px;
  }
    /* Track */
  .scrollbar::-webkit-scrollbar-track {
      border-radius: 8px;
      background:#000;
  }
    /* Handle */
    .scrollbar::-webkit-scrollbar-thumb {
        display: none;
  }
  .scroll-function{
        height: 430px;
        scrollbar-width: 6px;
        scrollbar-color: #000;
  }
  #top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 5px;
    z-index: 10;
    font-size: 10px;
    font-weight: normal;
  }
  img{
        max-width: 100%;
  }
  header{
        height: 91px;
  }
  .sub-navigation{
        height: 38px;
        font-size: 13px;
  }
  .section{
        grid-template-rows: repeat(2, 570px);
  }
  #sm-links{
        display: none;
        margin-top: 45px;
  }
  #follow:hover #sm-links{
        display: block;
  }
  input[type="checkbox"]{
      display: none;
  }
  nav .menu-btn i{
      color: #fff;
      font-size: 22px;
      cursor: pointer; 
  }
  .ticker{
      height: 21px;
      width: 21px;
      transition: .3s;
  }
  .ticker:hover{
      
  }
  .caption{
      display: none;
      transition: all 1s;
  }
  .popular-img{
      width: 110px;
      height: 75px;
  }
  .hover-btn:hover{
      transition: all .3s;
  }
  .sm-icon{
      height: 35px;
      width: 35px;
      border-radius: 50%;
      padding: 10px;
      display: grid;
      align-items: center;
      justify-content: center;
  }
  .test{
      display: grid;
      grid-template-columns: repeat(2, minmax(min-content, 150px));
  }
  .videos div{
      height: 90px;
  }
  .videos div:hover{
      transition: .3s;
  }
  .title{
      font-size: 14px;
      line-height: 1.4;
  }
  .image-hover:hover{
      opacity: 0.5;
      transition: .3s;
  }
  .categories button{
      background-color: #00adef;
      text-align: center;
      font-size: 85%;
      padding: 0 5px;
      min-width: 24px;
      height: 22px;
      line-height: 22px;
      color: #fff;
      border-radius: 2px;
      position: relative;
  }
  .categories button::before{
      content: "";
      position: absolute;
      background-color: #08f;
      padding: 0 5px;
      min-width: 24px;
      height: 22px;
      border-radius: 2px;
      top: 0;
      left: 0;
      opacity: 0;
      transform: scale(0);
      transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }
  .categories p:hover + .btn::before{
      opacity: 1;
      transform: scale(1);
  }
  @media (min-width:1024px) {
        body{
          background-image: url('/public/images/dots-pattern.jpg');
        }
        .img{
          height: 259px;
        }
  }
  @media (min-width:1201px){
        .icon{
          visibility: visible;
        }
        .news-section{
          height: 327px;
        }
        .caption-container:hover .caption{
          display: block;
        }
        .play{
          display: block;
        }
  }
  @media (max-width:1200px) {
      .icon{
        visibility: hidden;
      }
  }
  @media (max-width:1000px) {
      #click:checked ~ .menu-btn i:before{
        content: "\f00d";
        z-index: 1000;
        position: fixed;
        top: 10px;
        left: 50%;
        font-weight: 100;
        font-size: 25px;
      }
      nav ul{
        position: fixed;
        top: 0;
        right: -100%;
        background: #08f;
        height: 100vh;
        width: 100%;
        display: block;
        transition: all 0.3s ease;
        z-index: 100;
      }
      #click:checked ~ ul{
        right: 0;
      }
      nav ul li{
        width: 100%;
        margin: 10px 0;
      }
      nav ul li{
        width: 100%;
        margin-right: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
      nav ul li a{
        font-weight: normal;
        font-size: 20px;
      }
      #click:checked ~ ul li{
        margin-right: 0px;
        display: block;
      }
      .elements{
        visibility: visible;
      }
      .input::placeholder{
        font-size: 16px;
        padding: 5px;
      }
      .input{
        border-radius: 15px;
      }
      #follow{
        visibility: hidden;
      }
      .icons{
        visibility: hidden;
      }
      .play{
        display: none;
      }
      .links{
        display: none;
      }
      .news{
        display: none;
      }
      .bolt{
        display: block;
      }
      .ctas{
        display: none;
      }
      .height{
        height: 100px;
      }
      .layout{
        visibility: hidden;
      }
      .tech-news{
        visibility: hidden;
      }
  }
  @media (max-width:768px) {
        .news-section{
          grid-template-columns: 1fr;
        }
        .info{
          grid-template-columns: 1fr;
        }
        .technology{
          grid-template-columns: 1fr;
        }
        .list{
          display: none;
        }
        .twitter{
          visibility: hidden;
        }
  }
  @media (min-width:769px){
      .twitter{
        visibility: visible;
      }
  }
  @media (max-width:650px){
      .twitter-news{
        width: 200px;
        overflow: hidden;
      }
  }
    